@font-face {
    font-family: clarendon-bold;
    src: url(clarendon-bold.ttf);
}

@font-face {
    font-family: clarendon-reg;
    src: url(clarendon-regular.otf);
}

@font-face {
    font-family: clarendon-light;
    src: url(clarendon-light.otf);
}

/*https://stackoverflow.com/questions/17054158/css-100-height-with-header-and-footer*/

body, html {
    height: 100%;
}

#root {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    color: white;
    background-color: black;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}   

h1 {
    font-family: clarendon-bold;
    font-size: 54px;
    padding: 10px;
    padding-left: 20px;
}

nav {
    width: 50%;
}

.nav-links {
    display: flex;
    justify-content: space-around;

    font-family: clarendon-bold;
    font-size: 20px;
}

.nav-links > li:hover {
    transform: scale(1.08);
}

.main {
    flex: 1;
    height: 100%;
}

.home {
    background-image: url("../images/volvo-bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    justify-content: center;
    align-items: center;
}

.home-btn {
    align-self: center;
    justify-self: center;

    font-size: 30px;

    background-color: rgba(148, 148, 148, 0.747);
    color: white;
    border: 3px solid white;

    height: auto;
    width: auto;

    cursor: pointer;
}

.home-btn:hover {
    background-color: transparent;
}

.shop {
    display: flex;
    flex-direction: column;
    align-items: center;


    background-image: url("../images/asfalt-light.png");
    background-color: rgba(26, 26, 26, 0.829);
    
}

.card {
    height: 40%;
    width: 55%;

    background-color: white;
    margin: 30px;
    padding-bottom: 10px;

    text-align: center;
    font-size: 28px;
}

.card:hover {
    transform: scale(1.09);
}

.car-img {
    max-width: 100%;
    max-height: 100%;
}

.model {
    padding: 5px;
    font-weight: 800;
    color: black;
}

.price {
    color: black;
}

.prod-bg {
    background-image: url("../images/prod2-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product {
    background-color: rgba(27, 27, 43, 0.171);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-wrapper {
    width:50%;
    align-self: center;
}

.description {
    max-width: 40%;
}

.text-margin {
    margin: 40px;
    margin-bottom: 0;
}

.text-margin-small {
    margin-top: 10px;
    margin-left: 40px;

    font-size: 18px;
}

.text {
    font-size: 28px;
}

.desc-buttons {
    display: flex;
    justify-content: space-evenly;
}

.add-to-cart {
    height: 40px;
    width: 140px;
}

.btn-style {
    color: white;
    background-color: rgba(0, 0, 0, 0.87);
    border: 1px solid black;
    box-shadow: 10px 5px gray;
    font-size: 20px;

    cursor: pointer;
}

.btn-style:hover {
    transform: scale(1.05);
}

.cart-wrapper {
    display: flex;
    justify-content: center;

    background-color:  rgba(41, 41, 41, 0.87);
}

.cart {
    width: 50%;
    height: 50%;
    margin: 30px;
    background-color: lightgray;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: solid 1px black;
    border-radius: 10px;
}

.cart > h2 {
    margin: 20px;
    font-size: 30px;
    font-weight: 600;
    font-family: clarendon-reg;
}

.cart-item {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 24px;

    margin: 10px;
}

.cart-input {
    width: 45px;
    text-align: center;

    font-size: 22px;
    padding: 3px;
}

.total {
    margin-top: 10px;

    font-size: 24px;
    font-weight: 600;
}

.cart-btn {
    margin: 20px;
    padding: 8px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
    
    padding: 5px;

    background-color: black;
    color: white;
}

.footer-text {
    font-family: clarendon-light;
    font-size: 22px;
    margin-right: 12px;
}

.github-image {
    height: 35px;
    width: 35px;
}

a {
    color: white;
    outline: none;
    text-decoration: none;
    display: block;
}