@font-face {
    font-family: clarendon-bold;
    src: url(clarendon-bold.ttf);
}

@font-face {
    font-family: clarendon-reg;
    src: url(clarendon-regular.otf);
}

@font-face {
    font-family: clarendon-light;
    src: url(clarendon-light.otf);
}

body, html {
    height: 100%;
}

#root {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    color: white;
    background-color: black;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}   

h1 {
    font-family: clarendon-bold;
    font-size: 54px;
    padding: 10px;
    padding-left: 20px;
}

nav {
    width: 50%;
}

.nav-links {
    display: flex;
    justify-content: space-around;

    font-family: clarendon-bold;
    font-size: 20px;
}

.main {
    flex: 1;
    height: 100%;
}

.home {
    /* The image used */
    background-image: url("../images/volvo-bg.webp");

    /* Full height */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
}

.home > button {
    align-self: center;
    justify-self: center;

    font-size: 30px;

    background-color: rgba(148, 148, 148, 0.747);
    color: white;
    border: 3px solid white;

    height: auto;
    width: auto;

    cursor: pointer;
}

.home > button:hover {
    background-color: transparent;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
    
    padding: 5px;

    background-color: black;
    color: white;
}

.footer-text {
    font-family: clarendon-light;
    font-size: 22px;
    margin-right: 12px;
}

.github-image {
    height: 35px;
    width: 35px;
}

a {
    color: white;
    outline: none;
    text-decoration: none;
}